// Neutral colors
$background: #FFF;
$button: #F4F4F4;
$title: #FFF;
$text: #949494;
$black-glass: rgba(0,0,0, .2);
$dark-glass: rgba(0,0,0, .4);
$light-glass: rgba(255,255,255, .5);

// Games colors
$primary: #5B2C82;
$secondary: #DBC367;
$error: #C32B1B;
