@import '@/styles/index.scss';

.mn-item {
  position: relative;
  width: 100%;
  max-width: 12.5rem;
  height: 15.3125rem;
  border: 2px solid $black-glass;
  border-radius: 4px;

  @media screen and (max-width: 700px) {
    max-width: 15.3125rem;
    height: 18rem;
  }

  &__remove {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 1.3rem;
    background-color: #fff;
    border-radius: 50%;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 4px;
    color: #000;
    opacity: .2;
    transition: opacity .3ms ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: $space;
  }

  &__image {
    width: 100px;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: $space * 1.5;

    &--price {
      font-size: 1.6rem;
      font-weight: 700;
      color: $secondary;
      margin-top: $space * 2;
    }
  }
}